<h1>Olá aluno,</h1>
<p>Digite o seu CPF para ver suas notas.</p>
<form action="/report" method="get">
	<input type="text" name="cpf" >
	<button type="submit">Consulta</button>
	<%=flash["error_cpf"]%>
</form>